<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="local" connectionString="server=(local);uid=sa;pwd=666666;" providerName="System.Data.SqlClient"/>
    <add name="corp218" connectionString="server=192.168.38.218;uid=sa;pwd=666666;" providerName="System.Data.SqlClient"/>
    <add name="corp165" connectionString="server=192.168.1.165;uid=dfreader;pwd=dfreader;" providerName="System.Data.SqlClient"/>
    <add name="corp170" connectionString="server=192.168.1.170;uid=reader;pwd=reader;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
