<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="local"
         connectionString="server=(local);uid=sa;pwd=666666;"
         providerName="System.Data.SqlClient"/>
    <add name="corp218"
         connectionString="server=192.168.38.218;uid=sa;pwd=666666;"
         providerName="System.Data.SqlClient"/>
    <add name="corp165"
         connectionString="server=192.168.1.165;uid=dfreader;pwd=dfreader;"
         providerName="System.Data.SqlClient"/>
    <add name="corp170"
         connectionString="server=192.168.1.170;uid=reader;pwd=reader;"
         providerName="System.Data.SqlClient"/>
    <add name="corp217"
         connectionString="server=192.168.38.217;uid =sa;pwd=maoheng0;"/>

  </connectionStrings>
  <appSettings>
    <add key="CacheData.RootPath" value="d:\BTP\CacheData" />
    <add key="CacheData.Path.TradeDays" value="\TradeDays_{0}.txt" />
    <add key="CacheData.Path.OptionInfo" value="\OptionInfo_{0}.csv" />
    <add key="CacheData.Path.DataUpdateLog" value="DataUpdate.log" />
    <add key="CacheData.Path.OptionMinuteData" value="\Option\MinuteData\{0}_{1}\{2}.csv" />
    <add key="CacheData.Path.StockMinuteData" value="\Stock\MinuteData\{0}_{1}\{2}.csv" />
    <add key="CacheData.Path.AdjFactorData" value="\Stock\DayData\AdjFactorData\{0}_{1}.csv" />
    <add key="key2" value="value2" />
  </appSettings>


</configuration>
