<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="local"
             connectionString="server=(local);database=Option;uid =sa;pwd=666666;"
             providerName="System.Data.SqlClient"/>
    <add name="corp1"
             connectionString="server=192.168.38.218;uid =sa;pwd=666666;"
             providerName="System.Data.SqlClient"/>
    <add name="corp1"
          connectionString="server=192.168.38.218;uid =sa;pwd=666666;"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="key1" value="value1" />
    <add key="key2" value="value2" />
  </appSettings>


</configuration>  